@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  }

  .column {
    width: 400px;
    height: 100vh;
    background-color: #2fff00;
    padding-top: 150px;
    text-align: center;
  }

  .column2 {
    display: row;
    float: right;
  }

  .column a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    color: white;
    text-align: center;
    
  }

  .column img {
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
    border: 2px solid #143d59;

  }

  button {
    border-radius: 10px;
    gap: 30px;
    margin: 5px;
    padding: 0 50px;
    background: #222222;
    border: none;
  }

  a {
    text-decoration: none;
    color: #222222;
  }

  a:hover {
    color: #2fff00;
  }

  .content {
    width: 100%;
    padding-left: 50px;
  }
  
  h1 {
    font-size: 50px;
    font-weight: 900;
  }

  h3 {
    font-size: 30px;
    color: #222222;
  }

  .hard {
    margin-top: 60px;
  }

  .soft {
    margin-top: 40px;
  }

  .impar {
    background-color: #ccc;
  }

  .par {
    background-color: #eee;
  }

  p {
    margin-top: 20px;
    font-size: 18px;
  }

  hr {
    margin-top: 10px;
  }

  .social-icons {
    margin-top: 30px;
  }

  li {
    font-size: 18px;
    list-style-type: upper-alpha;
  }